.navbar-brand{
    font-size: x-large;
    font-weight: 700;
}

nav img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    background-color: rgb(237, 226, 226);
    border-radius: 10px;
}

.rectangle {
    border: 2px solid rgb(48, 47, 47);
    padding: 5px 20px !important;
    display: inline-block;
    color: aliceblue;
    background-color: rgb(48, 47, 47);
    font-size: 17px;
    border-radius: 10px;
    
}